body {
    background-color: rgb(39, 39, 39);
}

h1 {
    color: whitesmoke;
}

#TODO {
    margin: 1em 1em 1em 1em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10rem;
    >div {
        color: whitesmoke;
    }
}