@font-face {
  font-family: "Anek Devanagari";
  src: url("./anek-devanagari-v17-latin-regular.woff2") format("woff2");
  font-style: normal;
}

html {
  font-family: "Anek Devanagari";
}

body {
  background-color: rgb(39, 39, 39);
  margin: 0;
}

#TODO {
  margin: 0;
  padding-top: 3rem;
  justify-self: center;
  margin: 1em 1em 1em 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 1rem;
  column-gap: 4rem;

  & .task {
    justify-self: center;
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    width: 11rem;
    height: 13rem;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px black;
    font-size: small;
    overflow-wrap: break-word;

    & h3 {
      margin: 0;
    }

    p {
      font-size: small;
      overflow-wrap: break-word;
    }
  }
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(68, 62, 62);
}

form {
  margin: 1rem;
  color: whitesmoke;

  > label {
    color: whitesmoke;
    font-weight: 600;
  }
}

#hamburger {
  height: 2rem;
  fill: white;
}

#plus {
  height: 2rem;
  width: 2rem;
  fill: whitesmoke;
}

#priority {
  display: flex;
  justify-content: space-around;
}
/* #plus {
  border: 12px solid whitesmoke;
  border-radius: 10px;
  fill: whitesmoke;
  order: 1;
  justify-content: bottom;
  align-items: bottom;
  box-shadow: 1px 1px 5px 1px black;

  > svg {
    scale: 43%;
    align-self: bottom;
  }
} */
