@font-face {
  font-family: "Anek Devanagari";
  src: url("./anek-devanagari-v17-latin-regular.woff2") format("woff2");
  font-style: normal;
}

html {
  font-family: "Anek Devanagari";
}

body {
  background-color: rgb(39, 39, 39);
  margin: 0;
}

#TODO {
  margin: 0;
  padding-top: 3rem;
  justify-self: center;
  margin: 1em 1em 1em 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  row-gap: 1rem;
  column-gap: 4rem;

  & .task {
    justify-self: center;
    background-color: rgb(245, 245, 245);
    padding: 2rem;
    width: 11rem;
    height: 13rem;
    border-radius: 6px;
    box-shadow: 1px 1px 5px 1px black;
    font-size: small;
    overflow-wrap: break-word;

    & h3 {
      margin: 0;
    }

    p {
      font-size: small;
      overflow-wrap: break-word;
    }
  }
}

header {
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(67, 57, 57);
}

form {
  margin: 1rem;
  color: whitesmoke;

  > label {
    color: whitesmoke;
    font-weight: 600;
  }
}

#hamburger {
  height: 2rem;
  fill: white;
}

#plus {
  height: 2rem;
  width: 2rem;
  fill: whitesmoke;
  padding: 1rem;


}
#plus:hover{
  background-color: rgb(39, 39, 39);
  transition: background-color 0.1s
}

#priority {
  display: flex;
  justify-content: space-around;
}

#blank {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  height: stretch;
  background-color: rgba(128, 128, 128, 0.655);
  padding: 5rem;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

#newTask {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: self-start;
  justify-self: center;
  width: 500px;
  flex-grow: 0;
  z-index: 10;
  background-color: rgb(67, 57, 57);
  padding: 2rem;
  /* border: 20px solid rgba(203, 186, 186, 0.029); */
  /* box-shadow: 0 0 10px 50rem rgba(111, 106, 106, 0.715); */
  >input {
    margin-bottom: 20px;
  }
}

/* #plus {
  border: 12px solid whitesmoke;
  border-radius: 10px;
  fill: whitesmoke;
  order: 1;
  justify-content: bottom;
  align-items: bottom;
  box-shadow: 1px 1px 5px 1px black;

  > svg {
    scale: 43%;
    align-self: bottom;
  }
} */

